<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="category-tree-view"
          xmlns:margin="http://www.w3.org/1999/xhtml">
  <mat-tree-node *matTreeNodeDef="let node" style="min-height: 38px">
    <button mat-icon-button disabled></button>
    <p (click)="checkNodeId(node)" style="margin: 0px">{{node.name}}</p>
    <div *ngIf="role === 'ADMINISTRATOR'" >
      <button mat-icon-button >
        <mat-icon>
          add
        </mat-icon>
      </button>
      <button mat-icon-button (click)="showCategoryUpdateDialog(node.id)">
        <mat-icon>
          edit_note
        </mat-icon>
      </button>
      <button mat-icon-button (click)="showCategoryDeleteDialog(node.id)">
        <mat-icon>
          delete
        </mat-icon>
      </button>
    </div>
  </mat-tree-node>

  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasSubcategories">

      <div class="category-element" >
        <button mat-icon-button matTreeNodeToggle>
          <mat-icon>
            {{!treeControl.isExpanded(node) ? 'chevron_right' : 'expand_more'}}
          </mat-icon>
        </button>
        <p (click)="checkNodeId(node)" class="category-item" style="margin: 0">{{node.name}}</p>
        <div *ngIf="role === 'ADMINISTRATOR'" >
          <button mat-icon-button>
            <mat-icon class="add_button" style="font-max-size: 8px">
              add
            </mat-icon>
          </button>
          <button mat-icon-button (click)="showCategoryUpdateDialog(node.id)">
            <mat-icon>
              edit_note
            </mat-icon>
          </button>
          <button mat-icon-button (click)="showCategoryDeleteDialog(node.id)">
            <mat-icon>
              delete
            </mat-icon>
          </button>
          </div>
        </div>


      <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)" style="margin: 0px">
        <ng-container matTreeNodeOutlet></ng-container>
      </ul>
  </mat-nested-tree-node>

</mat-tree>


