.example-tree-invisible{
display: none;
}

.category-item{
  display: inline;
}

.material-icons {
  font-size: 16px;
}

.mat-icon-button {
  /*min-width: 0;*/
  width: 20px;
  height: 40px;
}







