<app-nav-bar></app-nav-bar>

<div class="description"><p>Here you can post your own product if you want to sell it.</p>
<p> Note that your email is essential if you want to be contacted.</p></div>

<div class="form">
    <mat-card-title>Post Product</mat-card-title>
    <hr>
    <form>
      <mat-form-field class="title">
        <mat-label>Product Title</mat-label>
        <input matInput [(ngModel)]="product.name" name="product_title">
      </mat-form-field>
      <mat-form-field class="content">
        <mat-label>Stock</mat-label>
        <input matInput [(ngModel)]="product.stock" name="product_stock">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Unit Price</mat-label>
        <input matInput [(ngModel)]="product.price" name="product_price">
      </mat-form-field>
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
          <mat-card class="product_img_form">
<!--            <mat-input></mat-input>-->
            <img mat-card-image class = "product_img" style="..." src="assets/img/SDA%20Store%20Logo.png" alt="">
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="example-full-width">
            <mat-label>Product description</mat-label>
            <textarea matInput [(ngModel)]="product.description" name="product_description"></textarea>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select name = "category" [(ngModel)]="product.categoryId" >
          <mat-option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Product Type</mat-label>
        <mat-select name = "productType" [(ngModel)]="product.productType">
          <mat-option *ngFor="let productType of productTypes" value="{{productType}}">{{productType}}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <button mat-raised-button (click)="saveProduct()">Post Product</button>
      <button mat-raised-button color="warn">Cancel</button>
    </form>
</div>
