<app-nav-bar [numberOfProductsInCart]="totalNumberOfElementsInCart"
             (searchChangeEvent)="filterProducts($event)"></app-nav-bar>

<div class="filter-wrapper">

<div class="description">Search by lowest price</div>
  <mat-form-field class="full-width">
    <mat-label>
      Low price
    </mat-label>
    <input matInput name="low-price-filter" type="number" (keyup)="changeLowPrice($event)">
  </mat-form-field>

  <div class="description">Search by highest price</div>
  <mat-form-field class="full-width">
    <mat-label>
      High Price
    </mat-label>
    <input matInput name="high-price-filter" type="number" (keyup)="changeHighPrice($event)">
  </mat-form-field>

  <div class="description">Search by product type</div>
  <mat-form-field class="full-width">
    <mat-label>
      Product type
    </mat-label>
    <!--      de implementat API pentru product type sa le aducem din backend-->
    <mat-select name="productType" (selectionChange)="changeProductType($event)">
      <mat-option *ngFor="let productType of productTypes" value="{{productType}}">{{productType}}</mat-option>
    </mat-select>

  </mat-form-field>

  <div class="description">Search by category</div>
  <app-categories-tree-view (categoryChangeEvent)="filterProductsByCategory($event)"></app-categories-tree-view>

</div>

<div class="product-wrapper">
  <div class="product-list">
    <mat-card class="product-card" *ngFor="let product of products">
      <div class="logo-cart">
        <!--<img src="images/logo.jpg" alt="logo">-->
        <i class='bx bx-shopping-bag'>Categorie: </i>
        <i class='bx bx-shopping-bag'>{{product.categoryName}}</i>
      </div>
      <img mat-card-image src="https://media.telekom.ro/images/lp/tv-net-voce/tv_banner.png"/>
      <div class="shoe-details">
        <span class="shoe_name">{{product.name}}</span>
        <p>{{product.description}}</p>

      </div>
      <div class="product-price">
        <div class="price">
          <span class="price_num">{{product.price}}</span>
          <span class="price_letter">LEI RON</span>
        </div>
        <div class="stock">
          Stoc disponibil:
          <div class="stock-number">
            {{product.stock}}
          </div>
        </div>
      </div>
      <div class="button">
        <div class="button-layer"></div>
        <button (click)="addProductToCart(product.id)" [disabled]="product.stock === 0 ? true : null">Adauga in cos
        </button>
      </div>
    </mat-card>
  </div>
  <div>
    <mat-paginator class="paginator-style" [length]="totalNumberOfElements" [pageSizeOptions]="[10, 20]"
                   (page)="changePage($event)"></mat-paginator>
  </div>
</div>
