<app-nav-bar [numberOfProductsInCart]="totalNumberOfElementsInCart" (searchChangeEvent)="filterProducts($event)"> </app-nav-bar>

<div class="filter-wrapper">


  <mat-form-field class="full-width">
    <mat-label>
      Low price
    </mat-label>
    <input matInput name="low-price-filter" type="number" (keyup)="changeLowPrice($event)">
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>
      High Price
    </mat-label>
    <input matInput name="high-price-filter" type="number" (keyup)="changeHighPrice($event)">
  </mat-form-field>


  <mat-form-field class="full-width">
    <mat-label>
      Product type
    </mat-label>
<!--      de implementat API pentru product type sa le aducem din backend-->
      <mat-select name = "productType" (selectionChange)="changeProductType($event)">
        <mat-option *ngFor="let productType of productTypes" value="{{productType}}">{{productType}}</mat-option>
      </mat-select>

  </mat-form-field>

  <app-categories-tree-view (categoryChangeEvent)="filterProductsByCategory($event)"></app-categories-tree-view>

</div>

<div class="product-wrapper">
  <div class="product-list">
    <mat-card class="product-card" *ngFor="let product of products">
      <mat-card-header>
        <mat-card-title> {{product.name}} </mat-card-title>
        <mat-card-subtitle> {{product.productType}} </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://media.telekom.ro/images/lp/tv-net-voce/tv_banner.png"/>
      <mat-card-content>
        <p>
          {{product.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button> {{product.price}} RON </button>
        <button mat-button (click)="addProductToCart(product.id)" [disabled]="product.stock === 0 ? true : null"> Add to cart </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div> <mat-paginator [length]="totalNumberOfElements" [pageSizeOptions]="[5, 10]" (page)="changePage($event)"></mat-paginator></div>
</div>
