<link rel="stylesheet" href="nav-bar.component.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->

<mat-toolbar color="primary" class="navbar" style=" z-index: 4">
  <div class="logo">
    <a mat-button routerLink="#" (click)="goToShoppingCart()">
      <mat-icon matBadge="{{numberOfProductsInCart}}" matBadgeColor="warn">
        <span class="material-icons-outlined">
        shopping_cart
        </span>
      </mat-icon>
    </a>
  </div>
  <div class="logo-writing">
    SDA
    <div class="between-words"><></div>
    Store
  </div>
  <div style="width: 300px; max-height: 60px; align-content: center">

    <div class="box">
      <input type="checkbox" id="check">
      <div class="search-box">
        <input type="text" placeholder="Cauta..." (keyup.enter)="searchProduct($event)">
        <label for="check" class="icon">
          <i class="fas fa-search"></i>
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <!--    <a mat-button [routerLink]="['/create-product']">Adauga produs</a>-->
    <!--    <a mat-button [routerLink]="['/product-card-view']">Magazin</a>-->
    <!--    <a mat-button [routerLink]="['/my-orders']">Comenzile mele</a>-->
    <!--    <a mat-button [routerLink]="['/register']">Inregistrare</a>-->
    <!--    <a mat-button routerLink="register">Editare cont</a>-->
    <!--    <a mat-button [routerLink]="['/login']">Autentificare</a>-->
    <!--    <a mat-raised-button (click)="logout()">Deconectare</a>-->
    <a class="nav-bar-buttons">
      <ul>
        <a mat-button [routerLink]="['/create-product']">Adauga produs</a>
        <a mat-button [routerLink]="['/product-card-view']">Magazin</a>
        <a mat-button [routerLink]="['/my-orders']">Comenzile mele</a>
        <!--          <a mat-button routerLink="register">Editare cont</a>&ndash;&gt;-->
        <!--          <a mat-button [routerLink]="['/login']">Autentificare</a>-->
        <!--          <a mat-raised-button (click)="logout()">Deconectare</a>-->
        <li class="drop">
          <a mat-raised-button>
            <div class="button-content">You</div>
          </a>
          <div *ngIf="role === 'ADMINISTRATOR' || role === 'CUSTOMER'; else notLogged">
            <div class="dropdownContain">
              <div class="dropOut">
                <ul>
                  <li>Bun venit, {{userName}}</li>
                  <li><a class="drop-down-command" routerLink="register">Editare cont</a></li>
                  <li><a class="drop-down-command" (click)="logout()">Deconectare</a></li>
                </ul>
              </div>
            </div>
          </div>
          <ng-template #notLogged>
            <div class="dropdownContain">
              <div class="dropOut">
                <ul>
                  <li><a class="drop-down-command" [routerLink]="['/register']">Inregistrare</a></li>
                  <li><a class="drop-down-command" [routerLink]="['/login']">Autentificare</a></li>
                </ul>
              </div>
            </div>
          </ng-template>
        </li>
      </ul>
    </a>
  </div>

</mat-toolbar>

