<mat-toolbar color="primary" class="navbar" style="position: fixed; z-index: 2">
  <div class="logo">
    <a mat-button routerLink="#" (click)="goToShoppingCart()">
      <mat-icon matBadge="{{numberOfProductsInCart}}" matBadgeColor="warn">
        <span class="material-icons">
         add_shopping_cart
        </span>
      </mat-icon>
    </a>
  </div>
  <div class="logo-writing">
    SDA
    <div class="between-words"><></div>
    Store
  </div>
  <div style="width: 300px; max-height: 60px; align-content: center">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Poti cauta ce vrei aici</mat-label>
        <input matInput (keyup.enter)="searchProduct($event)" type="text">
      </mat-form-field>
    </form>
  </div>
  <div>

    <a mat-button [routerLink]="['/create-product']">Post Product</a>
    <a mat-button [routerLink]="['/product-card-view']">Store</a>
    <a mat-button [routerLink]="['/my-orders']">My orders</a>
    <a mat-button [routerLink]="['/register']">Register</a>
    <a mat-button routerLink="register">Edit account</a>
    <a mat-button [routerLink]="['/login']">Login</a>
    <a mat-raised-button (click)="logout()">Sign out</a>
  </div>


</mat-toolbar>

